@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --background-color: white;
    --menu-text-color:snow;
    --content-text-color: black;
    --navbar-color: #0080ff;
}

body{
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    height: 80vh;

}

.siteheader{
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    margin-bottom: 60px;
    background-color: var(--navbar-color);
    
}

.navbar-items{
    list-style: none;
    display: flex;
    margin-top: 9px;
    padding: 30px;
    color: var(--menu-text-color);
    
}

.navbar-item{
    color: white;
    padding: 10px 20px;
    
}

.navbar-item:hover{
    color: yellow;
}


.navbar-icons{
    display: none;
    font-size: 30px;
}

.logo{
    margin-top: 2px;
    color: white;
    
}

.sitemain{
    height: 80vh;
    padding: 0px 400px;
}

.card-title{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    padding: 10px;
    font-weight: 700;
}

.card-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}

.button{
    background-color: var(--background-color);
    border: 1px solid black;
    padding: 4px 14px;
    margin-top: 6px;
    font-size: 18px;
    font-weight: 700;
}

.contact-forms{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    margin-top: 100px;
    
}

.contact-item{
    align-items: center;
    justify-content: center;
    display: flex;
    outline: none;
    border: none;
    gap: 15px;
    margin-top: 6px;
    padding: 8px 16px;
    font-size: 20px;
    
}

.contact-form{
    border: 1px solid gray;
    border-radius: 6px;
    margin: 10px; 
    padding: 1px 5px;  
}

.skicka-button{
    padding: 12px 24px;
    background-color: black;
    color: white;
    margin-left: 8px;
    font-size: 18px;
    font-weight: 700;
}

.news-title{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    padding: 10px;
    font-weight: 700;
}

.news-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
    
}

footer{
    color: white;
    background-color: var(--navbar-color);
}

@media only screen and (max-width: 820px) {
    .navbar-icons{
        display: inline-block;

    }

    .sitemain{
        height: 100vh;
        padding: 30%;
    }


    
}

@media only screen and (max-width: 720px) {
    .sitemain{
        height: 100vh;
        padding: 30%;
    }
}